
h1{background-color: rgb(146, 133, 133); color: antiquewhite;margin: 30px;padding: 20px;width: 1400px;}
body{background-color: rgb(172, 47, 16);}
img{padding-left: 973px;}

body{font-size: x-large;color: white;}

h2{color: antiquewhite; background-color: rgb(68, 63, 63);margin-left: 400px;margin-right: 500px;}

h3{background-color: rgb(68, 63, 63); padding-left: 240px;margin-left: 400px;margin-right: 500px;}
